@import url(https://fonts.googleapis.com/css?family=Montserrat:500&display=swap);

@font-face{
	font-family: "icon";
	font-weight: normal;
	font-style: "Regular";
	src: url("icofont/fonts/icofont.woff") format("woff2"),
	url("icofont/fonts/icofont.woff") format("woff"),
	url('icofont/fonts/icofont.svg') format('svg'),
	url('icofont/fonts/icofont.ttf') format('truetype');
}

  /* header */

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #70c422;
  }


  .headerLogo {
	display: flex;
	margin-right: auto;
    width: 10%;
    height: 10%;
	font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    text-decoration: none;
	white-space: nowrap;
  }

  .headerLogo h2 {
	  margin-top: auto;
	  margin-left: 5%;
  }
  
  .logo {
    margin-right: auto;
    margin-left: auto;
    width: 10%;
    height: 10%;
  }

  .cta {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #edf0f1;
    text-decoration: none;
  }

  .cta {
    margin-left: auto;
    padding: 9px 25px;
    background-color: #7ac54e;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: green;
  }

  /* parte principal */

 body {
     background-color: beige;
 }

 .login {
	width: 100vw;
	height: 61vh;
	display: flex;
	justify-content: center;
	align-items: center;
 }

 .cardlogin {
	text-align: center;
	font-family: "Montserrat", sans-serif;
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px 35px;
	border-radius: 20px;
	background-color: #70c422;
	box-shadow: 0px 10px 40px #00000056;
}

.alerta-erro {
	background-color: #ff0000;
	color: #fff;
	padding: 10px;
	font-size: 15px;
	border-radius: 20px;
}

.alerta-sucesso {
	background-color: dodgerblue;
	color: #fff;
	padding: 10px;
	font-size: 15px;
	border-radius: 20px;
}

.cardlogin > h1 {
	font-weight: 800;
	margin: 0;
	margin-bottom: 10px;
}

.textfield {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	font-size: 20px;
	font-weight: bold;
}

.textfield > input {
	width: 100%;
	border: none;
	border-radius: 10px;
	padding: 15px;
	background: white;
	font-size: 12pt;
	box-shadow: 0px 10px 40px #00000056;
	outline: none;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.textfield > label {
	margin-bottom: 10px;
}

.textfield > input::placeholder {
	color: #70c422;
	font-weight: bold;
}

.btn-login {
	width: 100%;
	padding: 16px 0px;
	margin: 25px;
	border: none;
	margin-left: 0;
	border-radius: 8px;
	outline: none;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 3px;
	background: white;
	color: #70c422;
	cursor: pointer;
}

.btn-login:hover {
	background: green;;
	color: white;
}

.cadastro-link > a:link,
.cadastro-link > a:visited {
	color: black;
}

.cadastro-link > a:hover {
	color: white;
}

 /* Footer */

 .footer-distributed{
	background: #70c422;
	box-shadow: 0 1px 1px 0 rgba(0, 102, 255, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer Esquerdo */

.footer-distributed .footer-left{
	width: 40%;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  	font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Centro */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #ff0000;
	border-radius: 25px;

	font-size: 25px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	font-style: normal;
	font-family: 'icon';

	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  	font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Direito */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
  font-family: 'icon';
  text-decoration: none;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* ícones */

.email:before
{
  content: "\ef12";
}

.instagram:before
{
  content: "\ed46";
}

.telefone:before
{
  content: "\f008";
}

.mapa:before
{
  content: "\ed42";
}

.facebook:before
{
  content: "\ed37";
}

.twitter:before
{
  content: "\ed7a";
}
  

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}